body
{
  background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.shadow {
  background-color:rgba(0,0,0,0.8);
}

.transparency {
  background-color:rgba(0,0,0,0.3);
}

.fullTransparent{
  background-color: :rgba(0,0,0,0,0);
}

.block {
  height:500px;
  padding-left:10%; 
  padding-top:10%;
  padding-right:10%;
  padding-bottom:10%;
}

.block-1pad {
  height:500px;
  padding-left:1%; 
  padding-top:1%;
  padding-right:1%;
  padding-bottom:1%;
}

.biggerBlock{
  height:550px;
  position: center;
  padding-left:10%; 
  padding-right:10%;
}

.block-small{
  height:400px;
  padding-left:7%; 
  padding-top:7%;
  padding-right:7%;
  padding-bottom:7%;
}

.carouselText {
    width:400px;
    margin: 0 auto;
}

.carouselItem {
  height:600px;
}

.img-centered {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.navbar-right{
	margin-right: 0px !important;
}

.mastfoot {
    bottom: 0px;
}

#logo {
  max-width: 60%;
  height: auto;
}

#mainBody {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-left: 32px;
  margin-right: 32px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
